.parrafoGenerico{
    display: flex;
    align-content: space-around;
    justify-content: center;
}
.parrafo{
    @extend .parrafoGenerico;
    font-size: 28px;
    font-weight: bold;
}
.contenido{
    @extend .parrafoGenerico;
    flex-direction: column;
    font-size: 24px;
    font-weight: bolder;
}
.titulo{
    font-weight: 900;
}
.subtitulo{
    @extend .titulo;
    border: solid saddlebrown;
}
.galeria{
    display: flex;
    justify-content: center;
}
.depor{
    width: 60%;
    height: 80%;
}

@media (min-width:576px){
    .galeria, .galeriaDepor{
        flex-direction: column;
    }
}
    @media (min-width:768px){
    .galeria{
        display: flex;
        flex-direction: row;
    }
    .galeriaDepor{
        display: grid;
        grid-template-columns: repeat(2,400px);
        grid-auto-rows: minmax(400,auto);
        justify-content: center;
    }
    .item1{
        grid-column: 1/ -1;
    }
}