.parrafoGenerico{
    display: flex;
    align-content: space-around;
    justify-content: center;
}
.parrafo{
    @extend .parrafoGenerico;
    font-size: 30px;
    font-weight: bold;
}
.contenido{
    @extend .parrafoGenerico;
    flex-direction: column;
    font-size: 27px;
    font-weight: bolder;
}

@media (min-width:576px){
    .galeria{
        flex-direction: column;
    }
}
    @media (min-width:768px){
    .galeria{
        display: flex;
        flex-direction: row;
    }
}